
<div class="container">
  <h2>Add Companies </h2><br>

  <br />
  <br />
  <% if flash[:noticeAddCompany] %>
    <p class="flash-error"><%= flash[:noticeAddCompany] %></p>
  <% end %>




  <%= render 'form' %>

</div>


