
<div class="container">

  <h2>Add Houses </h2><br>

  <h1><span class="badge badge-info">Add House-Hunters</span></h1><br/>

  <br />
  <br />
  <% if flash[:noticeAddCompany] %>
    <p class="flash-error"><%= flash[:noticeAddCompany] %></p>
  <% end %>




  <%= render 'form' %>

</div>


